/* header{
  height: 15vh;
  background-color: gray;
  color: yellow;
  font-weight: 700;
  font-size: 50px;
  display: flex;
  position: relative;
  justify-content: center;
}
.input-field{
  display: flex;
  justify-content: center;
  
}
.input{
  padding: 70px;
  /* display: flex;
  justify-content: center; */
/* }
.notes{
  display: flex;
  position: relative;
  justify-content: center; */
  /* padding: 200px; */
/* }  */